#root {
  text-align: center;
   display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App{
  flex: 1;
}
.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/** FORM LOGIN HOME **/

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
}

.login-title {
  text-align: center;
  margin-bottom: 15px;
}

.login-form input {
  padding: 10px;
  font-size: 1rem;
}

.login-form button {
  padding: 10px;
  font-size: 1rem;
  background: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background: #535bf2;
}


/* BOOKS */

.books-container {
  padding: 20px;
}

.books-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: wheat;
}

.books-table th,
.books-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.books-table th {
  background-color: #252323;
}

.books-table tr:hover {
  background-color: #f9f9f9;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 250px;
}


/** Contacts **/
.contacts-container table {
  width: 100%;
  border-collapse: collapse;
}

.contacts-container th,
.contacts-container td {
  border: 1px solid #ddd;
  padding: 8px;
}

.contacts-container th {
  background-color: #f4f4f4;
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  margin-right: 5px;
  padding: 5px 10px;
}
